prefer-offline=true
shameless-telemetry=false
strict-peer-dependencies=false
shamefully-hoist=true
@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=${TIPTAP_PRO_TOKEN}