prefer-offline=true
shameless-telemetry=false
strict-peer-dependencies=false
shamefully-hoist=true
@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=i+vN/9UsfK2qphsNArZsX7qG7Qo570CSQaliP0WYPaRHDaHTLKpzQkME8HxllPVJ4uIxC60egUr/Yok13EnhjA==