prefer-offline=true
shameless-telemetry=false
strict-peer-dependencies=false
shamefully-hoist=true
@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=Xs/CRVy29yoUP6f1dWwwAJ+wkHn/HgRDWe+M/MiNCkFlOF7LeCdZYerQyCzhU/Jco7W5E6XsgGDdri+n+gwczA==